* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.from {
  overflow: hidden;
  position: relative;
}

.bgc {
  width: 100%;
  /* height: 684px; */
}

.submit {
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 150px;
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.form_title {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}

.form_input {
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  margin-top: 20px;
}

.inputs {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  color: #666;
  padding-left: 20px;
}

.form_input span {
  width: 85px;
  align-self: center;
}

.btn_submit {
  align-self: center;
}

.btn {
  border: none;
  width: 80px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  background: #999;
  margin-top: 40px;
}

.btn:hover {
  background: #666;
}

.back {
  margin-left: 10px;
}

.home_href {
  border: none;
  width: 80px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  background: #ffd204;
}
.ribbon {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 30px;
  top: 5px;
  margin: auto;
}

.ribbon:after,
.ribbon:before {
  margin-top: 0.5em;
  content: '';
  display: flex;
  border: 1.5em solid #fff;
}

.ribbon:after {
  border-right-color: transparent;
}

.ribbon:before {
  border-left-color: transparent;
}

.ribbon a:link,
.ribbon a:visited {
  color: #000;
  text-decoration: none;
  height: 3.5em;
  overflow: hidden;
}

.ribbon span {
  background: #fff;
  display: inline-block;
  line-height: 3em;
  padding: 0 1.5em;
  margin-top: 0.5em;
  position: relative;
  -webkit-transition: background-color 0.2s, margin-top 0.2s;
  /* Saf3.2+, Chrome */
  -moz-transition: background-color 0.2s, margin-top 0.2s;
  /* FF4+ */
  -ms-transition: background-color 0.2s, margin-top 0.2s;
  /* IE10 */
  -o-transition: background-color 0.2s, margin-top 0.2s;
  /* Opera 10.5+ */
  transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
  background: #ffd204;
  margin-top: 0;
}

.ribbon span:before {
  content: '';
  position: absolute;
  top: 3em;
  left: 0;
  border-right: 0.5em solid #9b8651;
  border-bottom: 0.5em solid #fff;
}

.ribbon span:after {
  content: '';
  position: absolute;
  top: 3em;
  right: 0;
  border-left: 0.5em solid #9b8651;
  border-bottom: 0.5em solid #fff;
}
/* footer {
  position: absolute;
  bottom: 1px;
  right: 44%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #2a4862(165, 42, 42, 0.3);
} */
footer {
  text-align: center;
  line-height: 40px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.liuyanban {
  width: 320px;
  border-radius: 10px;
  background-color: #eeeeee;
  color: #666;
  padding-left: 20px;
  padding-top: 10px;
}
/* 留言信息 */
li {
  width: 300px;
  font-size: 15px;
  margin: 14px 0px 0 38px;
}

li a {
  float: right;
  color: #3f2020;
  text-decoration: none;
}
.backer a:not(.backer) {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  display: block;

  position: sticky;

  top: 0; /* 滚动条向上滚动0px后开始粘贴 */
  top: -100px; /* 滚动条向上滚动100px后开始粘贴 */

  /* 向下平移一个视口的高度，隐藏粘贴元素 */
  transform: translateY(calc(100vh));

  /* 向上滚动20px后，粘贴元素出现 */
  transform: translateY(calc(100vh + var(--scroll-Height)));

  /* 向上滚动100px后，粘贴元素被固定，这时是一半的高度露出来 */

  top: -200px; /* 滚动条向上滚动200px后开始粘贴，刚好完全露出粘贴元素 */

  float: right; /* 脱离文档流 + 移动到右边 */
  margin-top: -200px; /* 自身高度， 消除float元素的文字环绕，这时粘贴元素又露出来了 */

  /* 抵消上面的-200px，重新隐藏粘贴元素 */
  transform: translateY(calc(100vh + var(--scroll-Height) + 200px)); /* 向上滚动 scroll-Height + 200 px后，粘贴元素出现 */
  top: calc(-200px - 200px); /* 由于上面的滚动200px后，元素就已经被粘贴固定了，这时元素还不在视口可见范围，这里要加大固定时的阀值 */

  /* 加点间距 */
  margin-right: 20px;
  top: calc(-200px - 200px - var(--scroll-Height) - 20px);
}

/* 实际应用类名 */
.backer {
  width: 40px;
  height: 38px;
  background-color: skyblue;
  border-radius: 50%;
  /* font-size: 32px; */
  display: grid;
  place-items: center;
  position: sticky;
  float: right;
  margin: -200px 25px 0 0;
  transform: translateY(calc(100vh + var(--scroll-Height) + 200px));
  top: calc(-62px - 200px - var(--scroll-Height) - 17px);
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .from {
    overflow: hidden;
    position: relative;
    background-image: url(../img/5.png);
  }
  .bgc {
    width: 100%;
    height: 627px;
  }

  .submit {
    /* height: 420px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 288px; */

    position: absolute;
    /* z-index: 9; */
    /* left: 0; */
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* margin: auto; */
    margin-top: 70px;
    width: 382px;
    /* height: 500px; */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .ribbon {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 30px;
    top: -8px;
    margin: auto;
  }
  .ribbon span {
    background: #fff;
    display: inline-block;
    line-height: 3em;
    padding: 1px 0.5em;
    margin-top: 0.5em;
    position: relative;
  }
  .ribbon:after,
  .ribbon:before {
    margin-top: 0.5em;
    content: '';
    display: flex;
    border: 0.5em solid #fff;
  }
  .icon {
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 100%;
    position: absolute;
    left: 47%;
    top: 138px;
  }
}
