cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    color: #212121;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card img {
    object-fit: fill;
    width: 70%;
    height: 100%;
}